html, body{
    height: 100%;
    min-height: 100%;
}
#root {
    height: 100%;
}
.login-wrapper{
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .login-wrapper img{
    width: 150px;
    align-self: center;
  }
  .login-wrapper form{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 300px;
  }
  .login-wrapper input{
    height: 25px;
    padding: 5px;
    margin-bottom: 5px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-weight: bold;
    color: #616161;
  }
  .login-wrapper button{
    color: #fff;
    height: 40px;
    border: 1px solid #00ACEE;
    border-radius: 5px;
    background: #00ACEE;
    font-size: 15px;
    font-weight: bold;
  }